@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #5A8ADF;
    color: #fff;
}

.container {
    max-width: 1226px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-reset {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    opacity: 0.6;
    background-color: transparent;
    color: #fff;
}